/* colors

    #277647
    #b4cc4e
    #ffc600
    #853a76
    #4b0c3b 

*/

body {
  color: #853a76;
}

a {
  color: white;
}
.navbar-light .navbar-nav a.nav-link {
  color: white;
}

.navbar {
  height: 60px;
  color: white;
  background-color: #277647;  
}

main {
  width: 100%;
  margin-top: 60px;
}